@import "../../Common/scss/Colors.scss";

#beforeClientStart {
  display: block;
  background-color: $application_background_color;
  width: 100%;
  padding-bottom: 0px;
  overflow: auto;
  scrollbar-color: auto;
  scrollbar-width: 1px;
  tab-size: 1px;
  scroll-behavior: smooth;
  #clientStart {
    overflow: hidden;
    padding: 0rem 1rem;

    .clients {
      text-decoration: none;
      margin: 1rem 0rem;
      padding: 1rem;
      color: black;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: opacity 0.1s ease-in;
      transition: scale 0.2s ease-in;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

      &:hover {
        scale: 1.01;
      }
      &:active {
        opacity: 0.5;
      }

      .titleAndPrice,
      .lastUpdateAndTotalVisit {
        margin: 0.2rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h3 {
          font-size: 20px;
          font-weight: 700;
        }
      }

      .lastUpdateAndTotalVisit {
        p {
          font-size: 13px;
          font-weight: 300;
        }
        .lastUpdated {
          font-weight: 500;
        }
      }
      .viewDetails {
        text-align: right;
        color: #eed61f;
      }
    }
  }
}

// @media only screen and (max-width: 600px) {
//   .applicationWidth {
//     width: 93vw;
//     margin: 0px auto;
//   }
// }
@media screen and (max-width: 600px) {
  #clientStart {
    padding: 0rem 0.1rem;
  }
}
