@import "../../../../common/scss/Colors.scss";

#firstAddCustomerForm {
  margin-bottom: 3rem;
  padding: 1rem 0rem 3rem;
  color: $actionbuttonExceptAdd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > section {
    margin: 0.3rem 0rem;
    width: 100%;
  }
  #firstAndLastName,
  #multiplePhn {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > section {
      width: 40%;
    }
  }
  #birthday,
  #email {
    input {
      width: 100% !important;
    }
  }

  #birthday {
    display: block;
    overflow: hidden;
    input {
      min-width: -webkit-fill-available;
    }
  }
}

.customerAddFormElmAlighn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  label {
    margin: 0.3rem 0rem;
  }
}

.customerAddFormInput {
  width: 100%;
  border: 1px solid $actionbuttonExceptAdd;
  background-color: $application_background_color;
  display: block;
  font-size: 18px;
  padding: 0.2rem 0.4rem;
  &:focus {
    outline: none;
  }
}
