@import "../../common/scss/Colors.scss";

#root {
  background-color: $header_background_color;
}
#beforeAddCustomerFormAreaStart {
  background-color: $header_background_color;
  width: 100%;
  min-height: 80vh;
  max-height: 90vh;
  overflow: auto;
  padding: 0rem 0rem 4rem;
}
