//importing different Files
@import "./Colors.scss";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: 100%;
  max-height: -webkit-fill-available;
  height: 100vh;
  display: block;
  position: relative;
  background-color: $application_background_color;
  #root {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 100%;
    max-height: -webkit-fill-available;
    background-color: $application_background_color;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
}

.applicationWidth {
  width: 70vw;
  margin: 0px auto;
}

@media only screen and (max-width: 600px) {
  .applicationWidth {
    width: 90vw;
    margin: 0px auto;
  }
}

#testing {
  overflow: auto;
  max-height: 100vh;
}

#add {
  display: block;
  width: 0vw;
  height: 100vh;
  left: 0px;
}
