@import "../../common/scss/Colors.scss";

#beforeLoader {
  z-index: 5;
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

#loader {
  border: 10px solid $actionbuttonExceptAdd;
  border-radius: 50%;
  border-top: 10px solid $add_button;
  width: 100px;
  height: 100px;
  animation: spinner 4s linear infinite;
}

#loaderMessage {
  margin: 1rem 0rem;
  color: $actionbuttonExceptAdd;
  font-size: 1.5rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
